<section>
    <mat-card class="card">
        <mat-form-field class="example-form-field" appearance="fill">
            <input matInput type="text" placeholder="First name">
        </mat-form-field>
    
        <mat-form-field class="example-form-field" appearance="fill">
            <input matInput type="text" placeholder="Last name">
        </mat-form-field>
    
        <mat-form-field class="example-form-field" appearance="fill">
            <input matInput type="text" placeholder="email">
        </mat-form-field>
    
        <mat-form-field class="example-form-field" appearance="fill">
            <input matInput type="text" placeholder="password">
        </mat-form-field>
    
        <mat-form-field class="example-form-field" appearance="fill">
            <input matInput type="text" placeholder="confirm password">
        </mat-form-field>
    
        <button mat-raised-button color="primary"> Register </button>
    </mat-card>
</section>
