<mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-button routerLink="/">Message Board</button>
      <button mat-button routerLink="/messages">Messages</button>
      <button mat-button routerLink="/register">Register</button>            
      <span class="example-spacer"></span>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon>
    </mat-toolbar-row>
</mat-toolbar>